/* Services Section */
.services-area {
    font-family: Uber Move Text;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 1440px;
    margin: 40px auto;
    background-color: #EBF6F6;
    padding: 40px 180px;
    gap: 10px;
    height: 830px;
  }
  
  .services-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1297px;
    height: 468px;
    gap: 114px;
    margin-bottom: 40px;
  }
  
  .services-text-content {
    flex: 1;
    text-align: left;
  }
  
  .services-text-content h1 {
    font-size: 16px;
    margin-bottom: 2.5rem;
    padding-left: 26px;
    color: #339496;
    font-weight: 400;
    line-height: 55px;
    width: 214px;
    height: 39px;
  }
  
  .services-text-content h2 {
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
    width: 297px;
    height: 50px;
    padding-left: 26px;
  }
  
  .services-text-content p {
    font-size: 16px;
    margin-bottom: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    font-weight: 400;
    color: #000000;
    margin-top: 30px;
    padding-left: 26px;
  }

  .services-text-content img {
    padding-left: 170px;
    width: 237.71px;
    height: 141px;
  }
  
  .services-small-image {
    width: 644px;
    height: 468px;
    margin-top: 25px;
    background-color: #EBF6F6;
    border-radius: 20px;
  }
  
  .services-image-content {
    flex: 1;
    position: relative;
    width: 644px;
    height: 451px;
    object-fit: cover;
  }
  
  .services-image-content img {
    border-radius: 8px;
    width: 95%;
    height: 100%;
  }
  
  /* Services List */
  .services-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    width: 1300px;
    height: 242px;
  }
  
  .service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 396px;
    height: 242px;
  }
  
  .service-icon {
    width: 60px;
    height: 60px;
  }
  
  .service-heading {
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    width: 348px;
    height: 36px;
  }
  
  .service-description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 2px;
    font-weight: 400;
    width: 396px;
    height: 1300px;
    text-align: center;
  }
  