/* Community Section Wrapper */
.community-section {
    font-family: Uber Move Text;
    width: 1440px;
    height: 872px;
    padding: 40px 70px;
    background-color: #EBF6F6;
    margin: 2rem auto;
    gap: 40px;
  }
  
  /* Header Styling */
  .community-header h2 {
    font-size: 16px;
    font-weight: 400;
    color: #287475;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 71px;
  }
  
  .community-header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 2rem;
    line-height: 50px;
    align-items: center;
  }
  
  /* Message Styling */
  .community-message {
    font-size: 48px;
    font-weight: 400;
    color: #555;
    line-height: 72px;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  /* Image Styling */
  .community-image img {
    height: 168px;
    width: 343px;
    margin: 2rem auto;
    display: block;
  }
  
  /* Call to Action Button */
  .community-cta {
    width: 250px;
    height: 47px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #339496;
    border: none;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 4rem;
    transition: background-color 0.3s ease;
  }
  
  .community-cta:hover {
    background-color: #287475;
  }  