body {
    font-family: Uber Move Text;
    margin: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 691px;
    margin: 30px auto;
    background-color: #ffff;
    padding: 0px;
    
  }
  
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    height: 511px;
    margin-bottom: 0px; /* Spacing between content and logo section */
    gap: 40px;
    background-color: #ffff;
  }
  
  .text-content {
    flex: 1; /* Takes up equal space */
    margin-right: 20px;
    text-align: left; /* Align text to the left */
    margin-bottom: 60px;
  }
  
  .text-content h1 {
    font-size: 16px;
    margin-bottom: 1rem;
    padding-left: 26px;
    color: #339496;
  }
  
  .text-content h2 {
    font-size: 57px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 66px;
    color: #2E2E2E;
    margin-top: 10px;
  }
  
  .text-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 25px;
    font-weight: 400;
  }
  
  .cta-container {
    display: flex;
    align-items: center;
    gap: 24px; /* Space between the button and the text */
    margin-top: 1rem;
    width: 490px;
    height: 50px;
  }
  
  .cta-button {
    padding: 10px 30px;
    font-size: 1rem;
    color: white;
    background-color: #339496;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 189px;
    height: 47px;
    gap: 10px;
  }
  
  .cta-button:hover {
    background-color: lightgreen;
  }
  
  .cta-text {
    font-size: 16px;
    line-height: 25px;
    color: #2E2E2E;
    font-weight: 400;
  }
  
  .image-content {
    flex: 1; /* Takes up equal space */
    position: relative; /* To allow the image to fill the container */
    width: 644px;
    height: 451px;
    object-fit: cover;
  }
  
  .image-content img {
    gap: 10px;
    border-radius: 8px;
    width: 95%;
    height: 100%;
  }


  
  /* Logo Section */
  .logo-section {
    text-align: center;
    width: 100%;
    background-color: #ffff;
  }
  
  .logo-section h2 {
    font-size: 25px;
    margin-bottom: 1rem;
    color: #287475;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 44px; /* Space between logos */
    margin-top: 50px;
  }

  .logo-container img:nth-child(1) {
    width: 70px; /* Resize the first image */
    height: 31.25px; /* Maintain aspect ratio */
  }
  
  .logo-container img:nth-child(2) {
    width: 70px; /* Resize the second image */
    height: 21.25px;
  }
  
  .logo-container img:nth-child(3) {
    width: 70px; /* Resize the third image */
    height: 44px;
  }
  
  .logo-container img:nth-child(4) {
    width: 64px; /* Resize the third image */
    height: 30px;
  }


  
 /* Media query for tablets (screen width 768px and below) */
@media screen and (max-width: 768px) {
  .welcome-section {
    width: 50%;
    padding-left: 20px;
    height: 100vh;
  }

  .content-wrapper {
    flex-direction: column; /* Stack elements vertically */
    width: 50%;
    gap: 20px;
    text-align: left;
  }

  .image-content {
    width: 100%; /* Full width for the image */
    height: auto;
    order: 2;
  }

  .image-content img {
    width: 100%; /* Ensure the image is fully responsive */
  }

  .text-content {
    margin-right: 0; /* Remove horizontal margin */
    text-align: left; /* left-align text for better visibility */
    margin-bottom: 20px;
  }

  .text-content h1 {
    font-size: 14px;
    padding-left: 0; /* Remove padding */
  }

  .text-content h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .text-content p {
    font-size: 14px;
    line-height: 22px;
  }

  .cta-container {
    gap: 10px;
    width:100%;
    padding-left: 20px;
  }

  .cta-button {
    width: 50%; /* Full width for smaller screens */
  }
  
  .logo-section h2 {
    font-size: 20px; /* Adjust font size */
  }

  .logo-container {
    gap: 20px; /* Reduce spacing between logos */
    margin-top: 20px;
  }

  .logo-container img {
    width: 50px; /* Adjust logo sizes */
    height: auto;
  }
}
